### check out sphinx.ext.* packages
# .githubpages
# .graphviz

# build and deploy
# travis-sphinx==1.4.2

# serve and autoupdate
sphinx-autobuild==0.2.3

# API test calls
sphinxcontrib-jsoncall==0.3
sphinxcontrib-jsontest==0.1.5

# diagrams
sphinxcontrib-plantuml==0.4
sphinxcontrib-blockdiag==1.5.5
sphinxcontrib-seqdiag==0.8.5
# sphinxcontrib-sqlalchemyviz==0.2

# domains
sphinxcontrib-httpdomain==1.5.0
sphinx-jsondomain==0.0.2
fake-factory

# Markdown
recommonmark

# Themes
sphinx-rtd-theme==0.1.9
pylons-sphinx-themes==0.3.1
sphinx_adc_theme==0.1.3
jupyter-sphinx-theme==0.0.6
sphinx_celery==1.3.0
sphinx_theme_pd==0.0.8
sphinx.plonetheme==2.0
mdn-sphinx-theme==2015.2

########################################
# potentially outdated and unmaintained
########################################
# graphviz integration
# qubic.sphinx.graphvizinclude==0.1

# gen uml clas diag from python code
# sphinx-pyreverse==0.0.12

# packages to deal with markdown
# sphinx-markdown==1.0.0
# sphinxcontrib-markdown==0.1.0

# api blueprint
# sphinxcontrib-apiblueprint 0.0.1

# output to confluence?
# sphinx-confluence 0.0.2

# jupyter notebook include
# nbsphinx==0.2.8

